<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add mobi</title>
</head>
<body>
    <a href="/movies"> Volver al listado.</a>
    <form action="/movies/edit/<%= pelicula.id %>" method="post">
        Nombre de la peli: <input type="text" name="titulo" id="" value="<%= pelicula.title %>"> <br>
        Rating: <input type="number" name="rating" id="" value="<%= pelicula.rating %>"> <br>
        Premios: <input type="number" name="awards" id="" value="<%= pelicula.awards %>"> <br>
        Fecha de estreno: <input type="date" name="release" id="" value="<%= pelicula.release_date %>"> <br>
        Duración: <input type="number" name="length" id="" value="<%= pelicula.length %>"> <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>